<html>
    <head></head>
    <body>
        <form method="post">
            {% csrf_token %}
            <div style="height:200px"></div>
            <div style="text-align:center">
                Login <input type="text" name="usrname" placeholder="Enter a username "><br><br>
                Password <input type="password" name="usrpass" placeholder="Enter a password "> <br><br>
                <button type="submit">Login</button>
                <a href="/signup/"><input type="button" value="SignUp"></a>
            </div>
        </form>

    </body>
</html>